/*Index.html CSS-----------------------------------*/
.hero {
  height: 40vw;
}
.hero-text {
  font-size: 4vw;
}

#major-attractions {
  color: var(--blue);
}
#attractions .card-body {
  background-color: var(--blue);
}

#attractions .card-title {
  color: var(--white);
}

#attractions .card-text {
  color: var(--whiteOpaque);
}

#about-park {
  background-color: var(--blue);
}
#about-park h2 {
  color: var(--white);
}
#about-park p {
  color: var(--whiteOpaque);
  text-indent: 32px;
}
