/* Hero -----------------------------------*/
.hero-text {
  font-size: 8vw;
  top: 38%;
}

/* Major Attractions -----------------------------------*/
#major-attractions .intro {
  color: var(--blueOpaque);
}

#major-attractions .intro:first-line {
  color: var(--blue);
}

#major-attractions .card {
  background-color: var(--blue);
  color: var(--whiteOpaque);
  box-shadow: 0 0 8px var(--blueOpaque);
}

#major-attractions .card-body::first-line {
  color: var(--white);
}

/* About Park -----------------------------------*/
#about-park {
  color: var(--whiteOpaque);
  background-color: var(--blue);
  box-shadow: 0 0 12px var(--blueOpaque);
}

#about-park::first-line {
  color: var(--white);
}

/* Customer reviews -----------------------------------*/
#customer-reviews .card {
  text-align: center;
}

#customer-reviews img {
  border-radius: 100%;
  width: 40%;
}
