/* Intro -----------------------*/
.intro {
  padding: 1rem 5%;
  color: var(--white-opaque);
  background-color: var(--blue);
  box-shadow: var(--shadow-soft);
}

.intro::first-line {
  color: var(--white);
}

/* Tickets -----------------------*/
span {
  padding: 0 8px 0 0;
}

.price {
  color: var(--highlight);
  font-weight: 900;
  font-size: 1.3rem;
}

.original-price {
  color: var(--gray-opaque);
  text-decoration: line-through;
  font-size: 0.8rem;
}

.discount {
  color: var(--white);
  background-color: var(--highlight);
  padding: 1px 4px;
  font-size: 0.6rem;
}

ul {
  list-style-type: "✓ ";
  padding: 0 0 0 1rem;
}

.card {
  border: 1px solid var(--background);
  padding: 0 0 4%;
}

.card:hover {
  background-color: var(--background);
}