ul {
  list-style-type: "✓ ";
}

.card:hover {
background-color: var(--grayBackground);
}

.section-intro {
  color: var(--whiteOpaque);
  background-color: var(--blue);
  box-shadow: 0 0 12px var(--blueOpaque);
}

.section-intro::first-line {
  color: var(--white);
}
