/* Intro -----------------------*/
.intro {
  padding: 1rem 5%;
  color: var(--white-opaque);
  background-color: var(--blue);
  box-shadow: var(--shadow-soft);
}

.intro::first-line {
  color: var(--white);
}

/* Ticket -----------------------*/
ul {
  list-style-type: "✓ ";
  padding: 0 0 0 1rem;
}

.card:hover {
  background-color: var(--background);
}
