/* Custom Fonts ---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400&family=Montserrat+Alternates:wght@400;500;600&display=swap");

:root {
  /* Color Scheme --------------------------------------*/
  --highlight: #c24336;
  --blue: #4e82c0;
  --blueOpaque: #4e82c0cc;
  --white: #ffffff;
  --whiteOpaque: #ffffffcc;
  --gray: #434343;
  --grayOpaque: #434343cc;
  --background: #e5e5e54d;
}

/* Typography ----------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 150%;
  color: var(--gray);
}

.big-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: xx-large;
  font-weight: 500;
  text-shadow: 2px 2px 3px var(--background);
  padding: 0 0 1vw;
}

.small-title {
  font-size: x-large;
  font-weight: 500;
  text-shadow: 1px 1px 2px var(--background);
  padding: 1vw 0 0.5vw;
}

.big-text {
  font-size: larger;
  text-shadow: 1px 1px 2px var(--background);
}

.small-text {
  font-size: small;
}

/* Media Style ----------------------------------*/
img, video, iframe{
  border-radius: 5px;
}

/* Hero Style -----------------------------------*/
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
  text-align: center;
}

.hero-text {
  font-family: "Monoton", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--whiteOpaque);
}

/* Intro Style ----------------------------------*/
.intro {
  margin: 0 10vw;
  padding: 2% 1% 1%;
  border-radius: 5px;
  z-index: 100;
}

/* Card Style -----------------------------------*/
.card-container {
  margin: 0% 8vw 2% 8vw;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border-radius: 2vw;
  border-width: 0;
  margin: 2vw;
  overflow: hidden;
  flex: 1 0 200px;
}

.card-body {
  padding: 10%;
}

a:link {
  text-decoration: none;
}

/* Body Style ----------------------------------*/
.body-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  overflow: hidden;
  gap: 0;
  margin: 0 10%;
}

/* Article Style ----------------------------------*/
article p::first-letter {
  font-size: x-large;
}

article,
.article {
  margin: 10%;
}

/* Button Style ----------------------------------*/
.btn:hover {
  transform: perspective(100px) translateZ(5px);
}

.btn-booking {
  font-weight: 900;
  color: var(--white);
  background-color: var(--highlight);
}

/*Header CSS---------------------------------------*/
header {
  z-index: 999;
  width: 100vw;
  position: fixed;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

/*Footer CSS---------------------------------------*/
#bottom-ad {
  z-index: 999;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 0.5vw;
  text-align: center;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
