/* Custom Fonts ---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@400&family=Montserrat+Alternates:wght@400;500;600&display=swap");

:root {
  /* Color Scheme --------------------------------------*/
  --red: #c24336;
  --blue: #4e82c0;
  --blueOpaque: #4e82c0cc;
  --white: #ffffff;
  --whiteOpaque: #ffffffcc;
  --gray: #434343;
  --grayOpaque: #434343cc;
  --grayBackground: #e5e5e54d;
}

/** Default Style ----------------------------------*/
body {
  height: 100%;
  width: 100%;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  line-height: 150%;

  color: var(--gray);
  background-color: var(--white);
}

/* Common CSS ----------------------------------------*/
h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.4em;
  font-weight: 600;
  text-shadow: 2px 2px 1px var(--grayBackground);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  text-shadow: 1px 1px 1px var(--grayBackground);
}

.small {
  font-size: small;
}

.subheadline p {
  font-size: 1.2em;
}

.hero {
  position: relative;
  text-align: center;
  width: 100vw;
  overflow: hidden;
}

.hero-text {
  font-family: "Monoton", cursive;
  line-height: 125%;
  word-spacing: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--whiteOpaque);
}

.btn-booking {
  font-weight: 900;
  color: var(--white);
  background-color: var(--red);
}

/*Header CSS---------------------------------------*/

/*Footer CSS---------------------------------------*/
#bottom-ad {
  background-color: var(--blue);
  color: var(--white);
}
