/* Secondary Navbar -----------------------------*/
#secondary-navbar {
  border-radius: 0;
  background: var(--blue);
  color: var(--white);
  box-shadow: var(--shadow-soft);
}

#secondary-navbar .nav-link {
  color: var(--white);
}

/* stick secondary navbar to the top */
#secondary-navbar {
  position: fixed;
  z-index: 200;
  top: 66px;
  width: 100%;
}

#events {
  padding-top: 2.1rem;
}

/* Hero -----------------------------*/
.hero {
  height: 30vw;
}

#events .hero-text {
  font-size: 19vw;
}

#attractions .hero-text {
  font-size: 11vw;
}

#services .hero-text {
  font-size: 15vw;
}

/* Body ---------------------------*/
.body-container {
  margin: 0;
}

.body-container h3 {
  color: #9c1c3c;
  text-shadow: 0 0 8px #9c1c3c;
  font-style: oblique;
}
.body-container figure {
  height: 20vw;
  justify-self: center;
  padding: 5%;
  filter: drop-shadow(var(--shadow-hard));
  grid-area: figure;
}

.body-container article {
  grid-area: article;
}

.body-container:nth-child(odd) {
  background: var(--background);
  background: linear-gradient(to right, var(--white), var(--background));
  grid-template-areas: "figure article";
}

.body-container:nth-child(even) {
  background: linear-gradient(to left, var(--white), var(--background));
  grid-template-areas: "article figure";
}
