/* Secondary Navbar -----------------------------*/
#secondary-navbar {
  background: var(--blue);
  color: var(--white);
  box-shadow: var(--shadow-hard);
  border-radius: 0;
}

#secondary-navbar .navbar-nav {
  display: flex;
  list-style-type: "";
  justify-content: left;
  margin: 0;
  border-radius: 0;
}

#secondary-navbar .nav-item {
  padding: 0.4vw 5vw 0.4vw 0;
}

#secondary-navbar .nav-link {
  color: var(--white);
}

/* Hero -----------------------------*/
.hero {
  height: 30vw;
}

#events .hero-text {
  font-size: 19vw;
}

#attractions .hero-text {
  font-size: 11vw;
}

#services .hero-text {
  font-size: 15vw;
}

/* Body ---------------------------*/
.body-container {
  margin: 0;
}

.body-container figure {
  padding: 8% 5%;
  height: 20vw;
  filter: drop-shadow(var(--shadow-hard));
}

.body-container article {
  padding: 5% 0;
}

.body-container:nth-child(odd) {
  background: var(--background);
  background: linear-gradient(to right, var(--white), var(--background));
}

.body-container:nth-child(even) {
  background: linear-gradient(to left, var(--white), var(--background));
}
