/* Secondary Navbar -----------------------------*/
#secondary-nav {
  background: var(--blue);
  color: var(--white);
}

/* Hero -----------------------------*/
.hero {
  height: 30vw;
}

#events .hero-text {
  font-size: 19vw;
}

#attractions .hero-text {
  font-size: 11vw;
}

#services .hero-text {
  font-size: 15vw;
}

/* Body ---------------------------*/
.body-container {
  margin: 0;
}

.body-container:nth-child(odd) {
  background: var(--background);
  background: linear-gradient(to right, var(--white), var(--background));
}

.body-container:nth-child(even) {
  background: linear-gradient(to left, var(--white), var(--background));
}

.body-container figure{
  filter: drop-shadow(2px 2px 4px);
}